<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587756873097-50u3maui5nhihe4qa1hs8bhsuf6l2v5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587756873097-50u3maui5nhihe4qa1hs8bhsuf6l2v5a</string>
	<key>API_KEY</key>
	<string>AIzaSyC2hZ3RqjF-QGTz6TMp8cjOPRmU6u-wAtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>587756873097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.companyAppDemo</string>
	<key>PROJECT_ID</key>
	<string>company-project-c6a7d</string>
	<key>STORAGE_BUCKET</key>
	<string>company-project-c6a7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587756873097:ios:e5a3a2992adda32c6dad58</string>
</dict>
</plist>